body {
    font-family: Arial, sans-serif;
    padding: 24px;
    display: flex; 
    justify-self: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(54, 118, 183);
}
.card {
    max-width: 420px;
    padding: 20px;
    border: 3px solid hsl(0, 0%, 0%);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
input {
    width: 97%;
    padding: 10px;
    margin-top: 7px;
    border-radius: 10px;
}
button {
    width: 50%;
    padding: 10px;
    margin-top: 7px;
    border-radius: 100px;
    display: flex; 
    justify-self: center;
    justify-content: center;
    cursor: grab;
    
}
button:hover{
    background-color: red;
    color: white;
}
.saida {
    margin-top: 12px;
    font-weight: 600;
    
    
}